<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_robot">

    <!--Include motor wheels macros -->
    <xacro:include filename="$(find barista_robot_description)/xacro/drive_wheel.xacro"/>
    <!--Include caster wheels macros -->
    <xacro:include filename="$(find barista_robot_description)/xacro/caster_wheel.xacro"/>
    <!--Include standoff rods macros -->
    <xacro:include filename="$(find barista_robot_description)/xacro/standoff_rod.xacro"/>
    <!--Include cup holder tray macro -->
    <xacro:include filename="$(find barista_robot_description)/xacro/cup_holder_tray.xacro"/>


    <material name="red">
      <color rgba="1.0 0.0 0.0 1"/>
    </material>

    <material name="white">
      <color rgba="1.0 1.0 1.0 1"/>
    </material>

    <material name="black">
      <color rgba="0.0 0.0 0.0 1"/>
    </material>

    <material name="green_light">
        <color rgba="0.0 1.0 0.0 1"/>
    </material>

    <material name="green_dark">
        <color rgba="0.0 0.5 0.0 1"/>
    </material>

    <material name="blue">
        <color rgba="0.0 0.0 1.0 1"/>
    </material>
    

    <!--Base Link-->
    <link name="base_link"></link>

    <!-- Body -->
    <link name="chassis">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder length="0.155" radius="0.178"/>
                </geometry>
            <material name="blue"/>
        </visual>

        <collision>
        <geometry>
            <cylinder length="0.155" radius="0.178"/>
        </geometry>
        </collision>

        <inertial>
            <mass value="2.5"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.024807708333333334" ixy="0" ixz="0" 
                iyy="0.024807708333333334" iyz="0" izz="0.039604999999999994"/>
        </inertial>

    </link>

    <joint name="base_link_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.1127" />
        <parent link="base_link" />
        <child link="chassis" />
    </joint>

    <gazebo reference="chassis">
        <material>Gazebo/Blue</material>
    </gazebo>
    
    
    <!--******************** Drive Wheels **************************-->

    <!--Right drive wheel-->
    <xacro:drive_wheel wheel_name="right_motor_wheel" origin_xyz="0 0 0" 
            origin_rpy="0 1.5707 1.5707" w_l="0.0206" w_r="0.0352" material="black" mass="0.1"/> 

    <xacro:drive_wheel_joint joint_name="right_motor_wheel_joint" type="continuous" 
        origin_xyz="0 -0.158 0.0352" origin_rpy="0 0 0" parent="base_link" 
        child="right_motor_wheel" axis_xyz="0 1 0"/>

    <gazebo reference="right_motor_wheel">
        <mu1>0.7</mu1>
        <mu2>0.7</mu2>
        <material>Gazebo/Black</material>
    </gazebo>


    <!--Left drive wheel-->
    <xacro:drive_wheel wheel_name="left_motor_wheel" origin_xyz="0 0 0" 
            origin_rpy="0 1.5707 1.5707" w_l="0.0206" w_r="0.0352" material="black" mass="0.1"/> 

    <xacro:drive_wheel_joint joint_name="left_motor_wheel_joint" type="continuous" 
        origin_xyz="0 0.158 0.0352" origin_rpy="0 0 0" parent="base_link" 
        child="left_motor_wheel" axis_xyz="0 1 0"/>

    <gazebo reference="left_motor_wheel">
        <mu1>0.7</mu1>
        <mu2>0.7</mu2>
        <material>Gazebo/Black</material>
    </gazebo>

    <!--******************** Caster Wheels **************************-->

    <!--Caster wheels are modeled by 3 different links for each representing one RPY angle-->
    <!--We use the drive_wheel macro to represent Yaw and Roll links-->

    <!-- Front Caster wheel Yaw Link and Joint-->
    <xacro:drive_wheel wheel_name="front_yaw_link" origin_xyz="0 0 0" 
            origin_rpy="0 1.5707 1.5707" w_l="0.05" w_r="0.0152" material="blue" mass="0.01"/> 

    <xacro:drive_wheel_joint joint_name="front_yaw_joint" type="continuous" 
        origin_xyz="0.128 0 0.0352" origin_rpy="0 0 0" parent="base_link" 
        child="front_yaw_link" axis_xyz="0 0 1"/>

    <!-- Front Caster wheel Roll Link and Joint-->
    <xacro:drive_wheel wheel_name="front_roll_link" origin_xyz="0 0 0" 
            origin_rpy="0 1.5707 1.5707" w_l="0.05" w_r="0.0152" material="red" mass="0.01"/> 

    <xacro:drive_wheel_joint joint_name="front_roll_joint" type="continuous" 
        origin_xyz="0 0 0" origin_rpy="0 0 0" parent="front_yaw_link" 
        child="front_roll_link" axis_xyz="1 0 0"/>


    <!--Caster_wheel macro is used to represent the final Pitch link-->
    <xacro:caster_wheel caster_name="front_pitch_link" origin_xyz="0 0 0" 
            origin_rpy="0 1.5707 1.5707" radius="0.0352" material="green_dark" mass="0.1"/>

    <xacro:joint_caster_wheel joint_caster_name="front_pitch_joint" type="continuous" 
        origin_xyz="0 0 0" origin_rpy="0 0 0" parent="front_roll_link" 
        child="front_pitch_link" axis_xyz="0 1 0"/>

    <gazebo reference="front_pitch_link">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>Gazebo/Green</material>
    </gazebo>



    <!-- Back Caster wheel Yaw Link and Joint-->
    <xacro:drive_wheel wheel_name="back_yaw_link" origin_xyz="0 0 0" 
            origin_rpy="0 1.5707 1.5707" w_l="0.05" w_r="0.0152" material="blue" mass="0.01"/> 

    <xacro:drive_wheel_joint joint_name="back_yaw_joint" type="continuous" 
        origin_xyz="-0.128 0 0.0352" origin_rpy="0 0 0" parent="base_link" 
        child="back_yaw_link" axis_xyz="0 0 1"/>

    <!-- Back Caster wheel Roll Link and Joint-->
    <xacro:drive_wheel wheel_name="back_roll_link" origin_xyz="0 0 0" 
            origin_rpy="0 1.5707 1.5707" w_l="0.05" w_r="0.0152" material="red" mass="0.01"/> 

    <xacro:drive_wheel_joint joint_name="back_roll_joint" type="continuous" 
        origin_xyz="0 0 0" origin_rpy="0 0 0" parent="back_yaw_link" 
        child="back_roll_link" axis_xyz="1 0 0"/>
    
    <!--Caster_wheel macro is used to represent the final Pitch link-->
    <xacro:caster_wheel caster_name="back_pitch_link" origin_xyz="0 0 0" 
            origin_rpy="0 1.5707 1.5707" radius="0.0352" material="green_dark" mass="0.1"/>

    <xacro:joint_caster_wheel joint_caster_name="back_pitch_joint" type="continuous" 
        origin_xyz="0 0 0" origin_rpy="0 0 0" parent="back_roll_link" 
        child="back_pitch_link" axis_xyz="0 1 0"/>

    <gazebo reference="back_pitch_link">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>Gazebo/Green</material>
    </gazebo>

    <!--******************** Standoff Rods **************************-->
    
    <!--Standoff Rods Links and joints-->
    
    <!--Front Right Rod-->
    <xacro:standoff_rod rod_name="front_right_rod" origin_xyz="0 0 0.110" 
            origin_rpy="0 0 0" r_l="0.220" r_r="0.01" material="white" mass="0.250"/> 

    <xacro:rod_joint joint_name="front_right_rod_joint" type="continuous" 
        origin_xyz="0.090 -0.090 0.1902" origin_rpy="0 0 0" parent="base_link" 
        child="front_right_rod"/>

    <gazebo reference="front_right_rod">
        <material>Gazebo/White</material>
    </gazebo>

    <!--Front Left Rod-->
    <xacro:standoff_rod rod_name="front_left_rod" origin_xyz="0 0 0.110" 
            origin_rpy="0 0 0" r_l="0.220" r_r="0.01" material="white" mass="0.250"/> 

    <xacro:rod_joint joint_name="front_left_rod_joint" type="continuous" 
        origin_xyz="0.090 0.090 0.1902" origin_rpy="0 0 0" parent="base_link" 
        child="front_left_rod"/>

    <gazebo reference="front_left_rod">
        <material>Gazebo/White</material>
    </gazebo>
   

    <!--Back Right Rod-->
    <xacro:standoff_rod rod_name="back_right_rod" origin_xyz="0 0 0.110" 
            origin_rpy="0 0 0" r_l="0.220" r_r="0.01" material="white" mass="0.250"/> 

    <xacro:rod_joint joint_name="back_right_rod_joint" type="continuous" 
        origin_xyz="-0.090 -0.090 0.1902" origin_rpy="0 0 0" parent="base_link" 
        child="back_right_rod"/>

    <gazebo reference="back_right_rod">
        <material>Gazebo/White</material>
    </gazebo>

    <!--Back Left Rod-->
    <xacro:standoff_rod rod_name="back_left_rod" origin_xyz="0 0 0.110" 
            origin_rpy="0 0 0" r_l="0.220" r_r="0.01" material="white" mass="0.250"/> 

    <xacro:rod_joint joint_name="back_left_rod_joint" type="continuous" 
        origin_xyz="-0.090 0.090 0.1902" origin_rpy="0 0 0" parent="base_link" 
        child="back_left_rod"/>
    
    <gazebo reference="back_left_rod">
        <material>Gazebo/White</material>
    </gazebo>

    
    <!--******************** Cup Holder Tray **************************-->

    <xacro:cup_holder_tray link_name="cup_holder" origin_xyz="0 0 0" 
            origin_rpy="0 0 0" cht_l="0.090" cht_r="0.160" material="blue" mass="1.0"/>
    
    <xacro:cup_holder_tray_joint joint_name="cup_holder_joint" type="continuous" 
        origin_xyz="0 0 0.4552" origin_rpy="0 0 0" parent="base_link" 
        child="cup_holder"/>
    
    <gazebo reference="cup_holder">
        <material>Gazebo/Blue</material>
    </gazebo>


</robot>