<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="drive_wheel" params="wheel_name origin_xyz origin_rpy w_l w_r material mass">
        <link name="${wheel_name}">
            <visual>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
                    <geometry>
                        <cylinder length="${w_l}" radius="${w_r}"/>
                    </geometry>
                <material name="${material}"/>
            </visual>

            <collision>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
                <geometry>
                    <cylinder length="${w_l}" radius="${w_r}"/>
                </geometry>
            </collision>

            <inertial>
                <mass value="${mass}"/>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
                <inertia  ixx="${mass*(3*w_r*w_r+w_l*w_l)/12}" ixy = "0" ixz = "0"
                    iyy="${mass*(3*w_r*w_r+w_l*w_l)/12}" iyz = "0"
                    izz="${mass*(w_r*w_r)/2}" />
            </inertial>

        </link>        
    </xacro:macro>

    <xacro:macro name="drive_wheel_joint" params="joint_name type origin_xyz origin_rpy parent child">

        <joint name="${joint_name}" type="${type}">
            <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
            <parent link="${parent}" />
            <child link="${child}" />
            <axis rpy="0 0 0" xyz="0 1 0"/>
            <limit effort="10000" velocity="1000"/>
            <joint_properties damping="1.0" friction="1.0"/>
        </joint>
    
    </xacro:macro>




</robot>